<ng-container *ngIf="(actionsService.allActions$ | async) as actions; else loadingTemplate">
	<mat-card *ngFor="let action of actions" class="action-card mat-elevation-z10">
		<mat-card-header>

			<mat-card-title [innerText]="action.id"></mat-card-title>

		</mat-card-header>

		<div class="logo-container">
			<img class="logo-image" [src]="action.logoPath">
		</div>

		<mat-card-content>
			<p [innerText]="action.description"></p>
		</mat-card-content>

		<mat-card-actions class="action-buttons">

			<button mat-button class="mat-raised-button mat-primary" [routerLink]="['/actions', action.id]">
				INSTALL
			</button>

		</mat-card-actions>

	</mat-card>
</ng-container>
<ng-template #loadingTemplate>
	data is loading
</ng-template>
